APP_NAME=FlowForge API
APP_ENV=local
APP_DEBUG=true

APP_SECRET_KEY=change_me_in_real_project

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=flowforge
POSTGRES_USER=flowforge
POSTGRES_PASSWORD=flowforge

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USER=flowforge
RABBITMQ_PASSWORD=flowforge

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

OUTBOX_BATCH_SIZE=25
OUTBOX_ACTIVE_POLL_INTERVAL=1.0
OUTBOX_IDLE_POLL_INTERVAL=5.0
